---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";
import Tags from "./Tags.astro";

interface TechStack {
  title: string;
  icon: string;
  alt: string;
  href: string;
}
type label = "Saas" | "Web" | "Landing Page";

interface Props {
  title: string;
  urlDemo?: string;
  urlSource?: string;
  isSource?: boolean;
  description: string;
  showIcon?: boolean;
  iconName?: string;
  tagColor?: string;
  tagName?: string;
}

const { title, description, urlDemo, urlSource } = Astro.props as Props;
---

<div class="bg-zinc-950 rounded-lg border border-white/20 p-6 w-full relative">
  <div class="flex flex-col gap-2 pb-4">
    <a
      class="text-xl font-semibold hover:underline w-max"
      href={urlDemo}
      target="_blank"
      rel="noopener noreferrer">{title}</a
    >
    <p class="text-sm text-zinc-400 min-h-12">{description}</p>
  </div>
  <div class="w-max flex items-center gap-2">
    <Link target="_blank" variant={"secondary"} size="sm" href={`${urlSource}`}>
      Source
      <Icon name={"arrowupright"} />
    </Link>
      {urlDemo === null ? null : (
        <Link target="_blank" variant={"secondary"} size="sm" href={`${urlDemo}`}>
          Demo
          <Icon name={"arrowupright"} />
        </Link>
      )}
  </div>
  <slot />
</div>
